/*Home Page*/

/*Nav Bar*/
.links-nav { 
    align-items: center !important;
}
.links-nav a{
    color: black;
    text-decoration: none !important;
}
.Price-Card{
    background-color: #D72752 !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 10px !important; 
}
.Price-Card-btn{
    background-color: rgba(0, 0, 0, 0.60) !important;
    color: white !important;
    font-size: 20px !important;
    font-weight: bold !important;
    border-radius: 10px !important;
    margin-top: -120px !important;
    margin-left: 10px !important;
}
.bottom-card { 
}
.bottom-card button{
    color: var(--black-500, #6D6D6D) !important;
    text-transform: capitalize !important;
    background-color: var(--white-100, #EFEFEF) !important;
    width: 100% !important;
    font-size: 20px !important;
    
}
.seeMoreCards{
    color: black !important;
    text-transform: capitalize !important;
}

.LayoutCardOuter{
    padding-left: 100px !important;
}
@media (max-width: 992px) {
    .LayoutCardOuter{
        padding-left: 0 !important;
    }
  }
.LayoutCardOuterMain{
    padding-left: 100px !important;
    padding-right: 100px !important;
}
@media (max-width: 992px) {
    .LayoutCardOuterMain{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }



  .fullWidthPinkButton{
    background-color: #D72752 !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-radius: 15px !important;
    text-transform: none !important;
  }
.buttonWhiteBgShadow button{
    background-color: #fff !important;
    color: black !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 10px !important;
    margin-right: 10px !important;
}






.heroCardContain{
    padding-left: 150px !important;
}
.heroCard1{
    position: relative !important;
    z-index: 999 !important;
    width: 90% !important;
}
.heroCard2{
    position: relative !important; 
    width: 90% !important;
    margin-top: -810px !important;
    margin-left: 50px !important;
}
@media (max-width: 1200px) {
    .heroCardContain{
        padding-left: 15px !important;
    }
  }
  @media (max-width: 768px) { 
    .heroCard1{
        position: relative !important; 
        width: 90% !important;
    }
    .heroCard2{
        position: relative; 
        width: 90% !important;
        margin-top: -500px !important;
        margin-left: 30px !important;
    }
  }






  .formModalPropSearch {
    width: 60% !important;
  }
  @media (max-width: 968px) {
    .formModalPropSearch {
        width: 90% !important;
      }
  }


  .GenForms {
    width: 600px !important;
  }
  @media (max-width: 968px) {
    .GenForms {
        width: 90% !important;
      }
  }







  .showMore button{
    color: var(--black-500, #6D6D6D) !important; 
    font-weight: 500 !important;
    text-transform: capitalize !important;
 }












